html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #28DCAA;
  color: #fff;
}

input[type="number"] {
  width: 50px;
  margin-left: 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 2px solid #fff;
  font-size: 20px;
  outline: 0;
}

input[type="number"]::placeholder {
  color: #fff;
  opacity: 0.7
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  background: transparent;
  outline: 0;
  border: none;
  color: #fff;
  font-size: 20px;
  border-bottom: 2px solid #fff;
}

select option {
  color: #000;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

#thank-you-container p {
  margin: 5px 0;
  text-align: center;
}

.big {
  font-size: 30px;
}

#thank-you-container .loader {
  font-size: 24px;
  margin-top: 20px;
  transition: 1s
}

#container {
  width: 640px;
  margin: 0 auto;
}

.error li {
  font-size: 11px;
  color: #000;
  margin-bottom: 5px;
}

.check-list li {
  font-size: 15px;
}

.check-list .example {
  font-size: 11px;
  margin: 0;
}

#done-container p {
  text-align: center;
}

#done-container p:first-child {
  font-size: 20px;
}

button {
  border: none;
  background-color: #fff;
  display: block;
  padding: 15px 20px;
  margin-top: 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
  
}

button:hover {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3);
  transform: translateY(-5px);
}